.navigation1.ui-grid-a .ui-block-a { width: 80%; }
.navigation1.ui-grid-a .ui-block-b { width: 20%; }
.navigation2.ui-grid-a .ui-block-a { width: 30%; }
.navigation2.ui-grid-a .ui-block-b { width: 70%; }

.takeatourGuidelayout.ui-grid-b .ui-block-a { width: 20%; }
.takeatourGuidelayout.ui-grid-b .ui-block-b { width: 40%; }
.takeatourGuidelayout.ui-grid-b .ui-block-c { width: 40%; }