.navigation1.ui-grid-b .ui-block-a { width: 20%; }
.navigation1.ui-grid-b .ui-block-b { width: 50%; }
.navigation1.ui-grid-b .ui-block-c { width: 30%; }

.takeatourGuidelayout.ui-grid-b .ui-block-a { width: 20%; }
.takeatourGuidelayout.ui-grid-b .ui-block-b { width: 40%; }
.takeatourGuidelayout.ui-grid-b .ui-block-c { width: 40%; }